<!-- Alexis Webster -->
<% 
  if (assignment.aid) {
    submitLabel = "Update Assignment";
    route = `/assignment-scheduler/${assignment.userId}/assignments/${assignment.aid}`;
  } else {
    submitLabel = "Create Assignment";
    route = "/assignment-scheduler/${assignment.userId/assignments/new}";
  }
%>
    <% if (!!assignment.errors) { %>
        <% console.log("Found errors"); console.log(assignment.errors); %>
            <div>
                <p>Errors:</p>
                <ul>
                    <%- assignment.errors.map((item) => `<li>${item}</li>` ).join("\n"); %>
                </ul>
            </div>
            <% } %>

                <form action="<%=route%>" accept-charset="UTF-8" method="post">
                    <div class="field">
                        <label for="assignment_aid">Assignment ID</label>
                        <input type="text" name="assignment[aid]" id="aid" value="<%= assignment.aid %>">
                    </div>

                    <div class="padding">
                        <style>
                            .padding {
                                height: 10px;
                            }
                        </style>
                    </div>

                    <div class=" field ">
                        <label for="assignment_name ">Name</label>
                        <input type="text" name="assignment[name]" id="name" value="<%= assignment.name %>">
                    </div>

                    <div class="padding"></div>

                    <div class="actions">
                        <input type="submit" name="commit" value="<%= submitLabel %>" />
                    </div>
                </form>