<!-- Alexis Webster -->

<html>

<body>
    <h1>Assignments</h1>

    <table>
        <% if (assignments.length != 0) { %>
            <tr>
                <th>AID</th>
                <th>Name</th>
                <th>User ID</th>
                <th></th>
            </tr>
                <% assignments.forEach( (assignment) => { %>
            <tr>
                <td>
                    <%= assignment.aid %>
                </td>
                <td>
                    <%= assignment.name %>
                </td>
                <td>
                    <%= assignment.userId %>
                </td>
                <td>
                    <a href="/assignment-scheduler/<%= uid %>/assignments/<%= assignment.aid %>">View</a>
                </td>
                <% })
            } else {
                %>No Assignments
            <%} %>
            </tr>
    </table>

    <a href="/assignment-scheduler/<%= uid %>">Back</a>
</body>

</html>