<!-- Alexis Webster -->
<% 
  if (user.uid) {
    submitLabel = "Update User";
    route = `/assignment-scheduler/${user.uid}`;
  } else {
    submitLabel = "Create User";
    route = "/assignment-scheduler/signup";
  }
%>
    <% if (user.errors.length != 0) { %>
        <% console.log("Found errors"); console.log(user.errors); %>
            <div>
                <p>Errors:</p>
                <ul>
                    <%- user.errors.map((item) => `<li>${item}</li>` ).join("\n"); %>
                </ul>
            </div>
            <% } %>

                <form action="<%=route%>" accept-charset="UTF-8" method="post">
                    <div class="field">
                        <label for="user_fname">First Name</label>
                        <input type="text" name="user[fname]" id="fname" value="<%= user.fname %>">
                    </div>

                    <div class="padding">
                        <style>
                            .padding {
                                height: 10px;
                            }
                        </style>
                    </div>

                    <div class=" field ">
                        <label for="user_lname ">Last Name</label>
                        <input type="text" name="user[lname]" id="lname" value="<%= user.lname %>">
                    </div>

                    <div class="padding"></div>

                    <div class=" field ">
                        <label for="user_email ">Email</label>
                        <input type="text" name="user[email]" id="email" value="<%= user.email %>">
                    </div>

                    <div class="padding"></div>

                    <div class=" field ">
                        <label for="user_password ">Password</label>
                        <input type="text" name="user[password]" id="password" value="<%= user.password %>">
                    </div>

                    <div class="padding"></div>

                    <div class="actions">
                        <input type="submit" name="commit" value="<%= submitLabel %>" />
                    </div>
                </form>