<!-- Alexis Webster -->
<% 
  if (user.uid) {
    submitLabel = "Update User";
    route = `/assignment-scheduler/${user.uid}`;
  } else {
    submitLabel = "Create User";
    route = "/assignment-scheduler/signup";
  }
  
  function validateUser() {
    let fname = document.forms["userForm"]["fname"].value;
    let lname = document.forms["userForm"]["lname"].value;
    let email = document.forms["userForm"]["email"].value;
    let password = document.forms["userForm"]["password"].value;
    let alert = "";

    if (!user.isValid() || !user.isValid(false)) {
        for (let error in user.errors) {
            alert = alert + error + "\n";
        }
    }
    document.getElementById('alert').innerHTML = alert;

  }

%>
                <div id="alert"></div>
                <form name="userForm" action="<%=route%>" accept-charset="UTF-8" method="post">
                    <div class="field">
                        <label for="user_fname">First Name</label>
                        <input type="text" name="user[fname]" id="fname" value="<%= user.fname %>" required>
                    </div>

                    <div class="padding">
                        <style>
                            .padding {
                                height: 10px;
                            }
                        </style>
                    </div>

                    <div class=" field ">
                        <label for="user_lname ">Last Name</label>
                        <input type="text" name="user[lname]" id="lname" value="<%= user.lname %>" required>
                    </div>

                    <div class="padding"></div>

                    <div class=" field ">
                        <label for="user_email ">Email</label>
                        <input type="text" name="user[email]" id="email" value="<%= user.email %>" required>
                    </div>

                    <div class="padding"></div>

                    <div class=" field ">
                        <label for="user_password ">Password</label>
                        <input type="text" name="user[password]" id="password" value="<%= user.password %>" required>
                    </div>

                    <div class="padding"></div>

                    <div class="actions">
                        <input type="submit" name="commit" value="<%= submitLabel %>" />
                    </div>
                </form>