<!-- Alexis Webster -->
<% 
  if (assignment.aid) {
    submitLabel = "Update Essay";
    route = `/assignment-scheduler/${user.uid}/assignments/${assignment.aid}`;
  } else {
    submitLabel = "Create Essay";
    route = `/assignment-scheduler/${user.uid}/assignments/new/essay`;
  }
%>
                <form name="assignmentForm" action="<%=route%>" accept-charset="UTF-8" method="post">
                    <div class=" field ">
                        <label for="assignment_name ">Name</label>
                        <input type="text" name="assignment[name]" id="name" value="<%= assignment.name %>" required>
                    </div>

                    <div class="padding">
                      <style>
                          .padding {
                              height: 10px;
                          }
                      </style>
                    </div>

                    <div class=" field ">
                      <label for="assignment_dueDate">Due Date</label>
                      <input type="date" name="assignment[dueDate]" id="dueDate" value="<%= assignment.dueDate %>" required>
                    </div>

                    <div class="padding"></div>

                    <div class=" field ">
                        <label for="assignment_pages">Essay Length (in pages)</label>
                        <input type="number" name="assignment[pages]" id="pages" value="<%= assignment.pages %>" required>
                      </div>

                    <div class="padding"></div>

                    <div class=" field ">
                        <label for="assignment_requiresResearch">Does your essay require research?</label>
                        <select name="assignment[requiresResearch]" id="requiresResearch" value="<%= assignment.requiresResearch %>" required>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>

                    <div class="padding"></div>

                    <div class="actions">
                        <input type="submit" name="commit" value="<%= submitLabel %>" />
                    </div>
                </form>