<!-- Alexis Webster -->

<html>

<head>
    <style>
        .label {
            display: inline-block;
            width: 6em;
            font-weight: bold;
        }
        .padding {
            height: 10px;
        }
    </style>
</head>

<body>

    <%
        let today = new Date();
        let due = new Date(assignment.dueDate);
        let amtTime = due.getTime() - today.getTime();
        let daysTillDue = Math.ceil(amtTime / (1000 * 3600 * 24));

    %>

    <div class="padding"></div>

    <span><span class='label'>Assignment ID</span>
    <%= assignment.aid %>
        </span><br>

        <div class="padding"></div>

        <span><span class='label'>Type</span>
        Homework
            </span><br>

        <div class="padding"></div>

        <span><span class='label'>Name</span>
        <%= assignment.name %>
            </span><br>

                <div class="padding"></div>

                <span><span class='label'>Due Date:</span>
                <%= assignment.dueDate %>
                    </span><br>

                    <div class="padding"></div>

                    <span><span class='label'>Days Left:</span>
                    <%= daysTillDue %>
                        </span><br>

                    <div class="padding"></div>

                    <span><span class='label'>Number of Questions:</span>
                <%= assignment.numQuestions %>
                    </span><br>
                    
                    <div class="padding"></div>

                    <p>
                        <a href="/assignment-scheduler/<%= assignment.userId %>/assignments">Back</a>
                    </p>

                    <p>
                        <a href="/assignment-scheduler/<%= assignment.userId %>/assignments/<%= assignment.aid %>/edit">Edit Homework</a>
                        <a href="/assignment-scheduler/<%= assignment.userId %>/assignments/<%= assignment.aid %>/delete">Delete Homework</a>
                    </p>
</body>

</html>