<!-- Alexis Webster -->

<html>

<head>
    <style>
        .label {
            display: inline-block;
            width: 6em;
            font-weight: bold;
        }
        .padding {
            height: 10px;
        }
    </style>
</head>

<body>

    <%
        let today = new Date();
        let due = new Date(assignment.dueDate);
        let amtTime = due.getTime() - today.getTime();
        let daysTillDue = Math.ceil(amtTime / (1000 * 3600 * 24));
        let minutesPerDay = 0;
        let numExtra = 0;

        if (assignment.minutes % daysTillDue === 0) {
            minutesPerDay = assignment.minutes / daysTillDue;
        } else {
            minutesPerDay = Math.floor(assignment.minutes / daysTillDue);
            numExtra = assignment.minutes % daysTillDue;
        }
    %>

    <div class="padding"></div>

    <span><span class='label'>Assignment ID</span>
    <%= assignment.aid %>
        </span><br>

        <div class="padding"></div>

        <span><span class='label'>Type</span>
        Video
            </span><br>

        <div class="padding"></div>

        <span><span class='label'>Name</span>
        <%= assignment.name %>
            </span><br>

                <div class="padding"></div>

                <span><span class='label'>Due Date:</span>
                <%= assignment.dueDate %>
                    </span><br>

                    <div class="padding"></div>

                    <span><span class='label'>Days Left:</span>
                    <%= daysTillDue %>
                        </span><br>

                    <div class="padding"></div>

                    <span><span class='label'>Number of Minutes:</span>
                <%= assignment.minutes %>
                    </span><br>

                    <div class="padding"></div>

                    <h2>Video Plan:</h2>
                
                    <div class="padding"></div>

                    <span><span class='label'>Watch this many minutes per day:</span>
                    <%= minutesPerDay %> minute(s)
                    </span><br>

                    <div class="padding"></div>

                    <% if (numExtra > 0) { %>
                        <span><span class='label'> On the last day watch:</span>
                        <%= numExtra %> extra minute(s).
                        </span><br>
                    <% } %>
                    
                    <div class="padding"></div>

                    <p>
                        <a href="/assignment-scheduler/<%= assignment.userId %>/assignments">Back</a>
                    </p>

                    <p>
                        <a href="/assignment-scheduler/<%= assignment.userId %>/assignments/<%= assignment.aid %>/edit">Edit Video</a>
                        <a href="/assignment-scheduler/<%= assignment.userId %>/assignments/<%= assignment.aid %>/delete">Delete Video</a>
                    </p>
</body>

</html>