<!-- Alexis Webster -->

<html>
<style>
    a#firstCreateLink {
        border-top: darkred solid 2pt;
        padding-top: 4pt;
    }
</style>

<body>
    <h1>Assignments</h1>

    <table>
        <% if (assignments.length != 0) { %>
            <tr>
                <th>AID</th>
                <th>Name</th>
                <th>Due Date</th>
                <th></th>
            </tr>
                <% assignments.forEach( (assignment) => { %>
            <tr>
                <td>
                    <%= assignment.aid %>
                </td>
                <td>
                    <%= assignment.name %>
                </td>
                <td>
                    <%= assignment.dueDate %>
                </td>
                <td>
                    <a href="/assignment-scheduler/<%= user.uid %>/assignments/<%= assignment.aid %>">View</a>
                </td>
                <% })
            } else {
                %>No Assignments
            <%} %>
            </tr>
    </table>

    <a href="/assignment-scheduler/<%= user.uid %>">Back</a>
    <p>
        <a id="firstCreateLink" href="/assignment-scheduler/<%= user.uid %>/assignments/new">Create New Assignment</a>
    </p>
    <p>
        <a href="/assignment-scheduler/<%= user.uid %>/assignments/new/essay">Create New Essay</a>
    </p>
    <p>
        <a href="/assignment-scheduler/<%= user.uid %>/assignments/new/homework">Create New Homework</a>
    </p>
    <p>
        <a href="/assignment-scheduler/<%= user.uid %>/assignments/new/presentation">Create New Presentation</a>
    </p>
    <p>
        <a href="/assignment-scheduler/<%= user.uid %>/assignments/new/reading">Create New Reading</a>
    </p>
    <p>
        <a href="/assignment-scheduler/<%= user.uid %>/assignments/new/studying">Create Study Schedule</a>
    </p>
    <a href="/assignment-scheduler/<%= user.uid %>/assignments/new/video">Create New Video Assignment</a>

</body>

</html>