<!-- Alexis Webster -->

<html>

<% 
    let assignmentType = assignment.constructor.name;
%> 

<head>
    <style>
        label {
            display: block;
        }
    </style>
</head>

<body>
    <h1>Edit <%= assignmentType %></h1>

    <% if (assignment instanceof Essay) { %>
        <%- include('assignment.types/forms/essayForm') %>
    <% } else if (assignment instanceof Homework) { %>
        <%- include('assignment.types/forms/homeworkForm') %>
    <% } else if (assignment instanceof Presentation) { %>
        <%- include('assignment.types/forms/presentationForm') %>
    <% } else if (assignment instanceof Reading) { %>
        <%- include('assignment.types/forms/readingForm') %>
    <% } else if (assignment instanceof Studying) { %>
        <%- include('assignment.types/forms/studyingForm') %>
    <% } else if (assignment instanceof Video) { %>
        <%- include('assignment.types/forms/videoForm') %>
    <% } else { %>
        <%- include('assignmentForm') %>
    <% } %>

        <a href="/assignment-scheduler/<%= user.uid %>/assignments/<%= assignment.aid %>">Back</a>

</html>