<!-- Alexis Webster -->

<html>
<% 
    let assignmentType = assignment.constructor.name;
    
%> 

<head>
    <style>
        label {
            display: block;
        }
    </style>
</head>

<body>
    <h1>New <%= assignmentType %></h1>

    <% if (assignment.constructor.name === "Essay") { %>
        <%- include('assignment.types/forms/essayForm') %>
    <% } else if (assignment.constructor.name === "Homework") { %>
        <%- include('assignment.types/forms/homeworkForm') %>
    <% } else if (assignment.constructor.name === "Presentation") { %>
        <%- include('assignment.types/forms/presentationForm') %>
    <% } else if (assignment.constructor.name === "Reading") { %>
        <%- include('assignment.types/forms/readingForm') %>
    <% } else if (assignment.constructor.name === "Studying") { %>
        <%- include('assignment.types/forms/studyingForm') %>
    <% } else if (assignment.constructor.name === "Video") { %>
        <%- include('assignment.types/forms/videoForm') %>
    <% } else { %>
        <%- include('assignmentForm') %>
    <% } %>

    <a href="/assignment-scheduler/<%= user.uid %>/assignments">Back</a>

</html>