<!-- Alexis Webster -->

<html>
<% 
    let assignmentType = assignment.constructor.name;
%> 

<head>
    <style>
        label {
            display: block;
        }
    </style>
</head>

<body>
    <h1>New <%= assignmentType %></h1>

    <% if (assignment instanceof Essay) { %>
        <%- include('essayForm') %>
    <% } else if (assignment instanceof Homework) { %>
        <%- include('homeworkForm') %>
    <% } else if (assignment instanceof Presentation) { %>
        <%- include('presentationForm') %>
    <% } else if (assignment instanceof Reading) { %>
        <%- include('readingForm') %>
    <% } else if (assignment instanceof Studying) { %>
        <%- include('studyingForm') %>
    <% } else if (assignment instanceof Video) { %>
        <%- include('videoForm') %>
    <% } else { %>
        <%- include('assignmentForm') %>
    <% } %>

    <a href="/assignment-scheduler/<%= user.uid %>/assignments">Back</a>

</html>